In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.3.0'
os.environ['SPARK_VERSION'] = spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [89.9 kB]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [903 kB]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,141 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Hit:18 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,100 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,310 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,076 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,064 kB]
Get:24 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 16.9 MB in 7s (2,348 kB/s)
Reading package lists... Done

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 48.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=5ffa971a7dfb033fe062bdd328232545929e78bdee321fd60f895ba66ad2d7ec
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-08-13 17:08:53--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.18MB/s    in 0.8s

2022-08-13 17:08:54 (1.18 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Team-3-Project").getOrCreate()

In [5]:
from pyspark import SparkFiles
url = "https://team-3-s3-data-bucket.s3.amazonaws.com/202111-citibike-tripdata.csv"
spark.sparkContext.addFile(url)
bikedata_df = spark.read.csv(SparkFiles.get(""), sep=",", header=True, inferSchema=True)
bikedata_df.head(5)

[Row(ride_id='F8C750DE34200458', rideable_type='electric_bike', started_at=datetime.datetime(2021, 11, 8, 7, 34, 45), ended_at=datetime.datetime(2021, 11, 8, 7, 52, 14), start_station_name='Franklin Ave & St Marks Ave', start_station_id='4107.05', end_station_name='Carroll St & Smith St', end_station_id='4225.14', start_lat=40.6758324, start_lng=-73.9561677, end_lat=40.680611, end_lng=-73.99475825, member_casual='member'),
 Row(ride_id='150B96183EA723BE', rideable_type='electric_bike', started_at=datetime.datetime(2021, 11, 24, 10, 27, 6), ended_at=datetime.datetime(2021, 11, 24, 10, 34, 40), start_station_name='Pleasant Ave & E 120 St', start_station_id='7579.01', end_station_name='Willis Ave & E 137 St', end_station_id='7726.02', start_lat=40.7974772, start_lng=-73.9311847, end_lat=40.808384, end_lng=-73.923604, member_casual='member'),
 Row(ride_id='55BA8CE0120B8994', rideable_type='electric_bike', started_at=datetime.datetime(2021, 11, 27, 18, 11, 36), ended_at=datetime.datetime(2021, 11, 27, 19, 19, 16), start_station_name='West St & Liberty St', start_station_id='5184.08', end_station_name='W 45 St & 8 Ave', end_station_id='6676.02', start_lat=40.711444, start_lng=-74.014847, end_lat=40.75929124, end_lng=-73.98859651, member_casual='member'),
 Row(ride_id='BEEAF39A29375A4F', rideable_type='electric_bike', started_at=datetime.datetime(2021, 11, 22, 14, 52, 20), ended_at=datetime.datetime(2021, 11, 22, 15, 30, 40), start_station_name='W 67 St & Broadway', start_station_id='7116.04', end_station_name='E 84 St & 1 Ave', end_station_id='7180.02', start_lat=40.77492513, start_lng=-73.98266566, end_lat=40.77565541, end_lng=-73.95068615, member_casual='member'),
 Row(ride_id='A322C249E2152BE8', rideable_type='electric_bike', started_at=datetime.datetime(2021, 11, 10, 14, 32, 56), ended_at=datetime.datetime(2021, 11, 10, 14, 36, 19), start_station_name='W 53 St & 10 Ave', start_station_id='6890.01', end_station_name='W 45 St & 8 Ave', end_station_id='6676.02', start_lat=40.76669671, start_lng=-73.99061728, end_lat=40.75929124, end_lng=-73.98859651, member_casual='member')]

In [6]:
bikedata_df.show()

+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+-----------+--------------+------------+--------------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|start_station_id|    end_station_name|end_station_id|  start_lat|     start_lng|     end_lat|       end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+-----------+--------------+------------+--------------+-------------+
|F8C750DE34200458|electric_bike|2021-11-08 07:34:45|2021-11-08 07:52:14|Franklin Ave & St...|         4107.05|Carroll St & Smit...|       4225.14| 40.6758324|   -73.9561677|   40.680611|  -73.99475825|       member|
|150B96183EA723BE|electric_bike|2021-11-24 10:27:06|2021-11-24 10:34:40|Pleasant Ave & E ...|         7579.01|Willis Ave & E 13...|       7726.02| 40.7974772|   -73.9311847|   40.808384|    -73.923604|       member|
|55BA8CE0120B8994|electric_bike|2021-11-27 18:11:36|2021-11-27 19:19:16|West St & Liberty St|         5184.08|     W 45 St & 8 Ave|       6676.02|  40.711444|    -74.014847| 40.75929124|  -73.98859651|       member|
|BEEAF39A29375A4F|electric_bike|2021-11-22 14:52:20|2021-11-22 15:30:40|  W 67 St & Broadway|         7116.04|     E 84 St & 1 Ave|       7180.02|40.77492513|  -73.98266566| 40.77565541|  -73.95068615|       member|
|A322C249E2152BE8|electric_bike|2021-11-10 14:32:56|2021-11-10 14:36:19|    W 53 St & 10 Ave|         6890.01|     W 45 St & 8 Ave|       6676.02|40.76669671|  -73.99061728| 40.75929124|  -73.98859651|       member|
|47838257604530BE|electric_bike|2021-11-09 07:20:53|2021-11-09 07:26:13|Franklin Ave & St...|         4107.05|Plaza St East & F...|       4010.01| 40.6758324|   -73.9561677|   40.673134|    -73.969106|       casual|
|362E604AA6EECA77| classic_bike|2021-11-03 16:23:08|2021-11-03 16:30:39|Classon Ave & St ...|         4074.03|Plaza St East & F...|       4010.01| 40.6765198|   -73.9596082|   40.673134|    -73.969106|       casual|
|68CF5DD571217350| classic_bike|2021-11-03 14:00:14|2021-11-03 14:07:12|Columbia St & Deg...|         4422.04|Bergen St & Smith St|       4446.01| 40.6859296|  -74.00242364|  40.6867443|  -73.99063168|       casual|
|096AC000442AA859| classic_bike|2021-11-11 16:37:28|2021-11-11 16:50:51|  E 32 St & Park Ave|         6280.12|     W 45 St & 8 Ave|       6676.02| 40.7457121|  -73.98194829| 40.75929124|  -73.98859651|       member|
|7ABE54EAAB9C501E| classic_bike|2021-11-17 12:39:03|2021-11-17 12:42:08|President St & He...|         4307.13|Carroll St & Smit...|       4225.14| 40.6828003|  -73.99990419|   40.680611|  -73.99475825|       member|
|8BAEA48FD9411FAA| classic_bike|2021-11-08 12:02:16|2021-11-08 12:19:15|Boerum St & Broadway|         5004.02|N 6 St & Bedford Ave|       5379.10|40.70538077|  -73.94976519| 40.71745169|  -73.95850939|       member|
|08BC97A9E6B4B5CD|electric_bike|2021-11-10 11:41:34|2021-11-10 12:00:47|Boerum St & Broadway|         5004.02|DeKalb Ave & S Po...|       4546.04|40.70538077|  -73.94976519| 40.68981035|  -73.97493121|       casual|
|0C1BE26407172178| classic_bike|2021-11-05 13:40:48|2021-11-05 13:47:44|Lafayette Ave & S...|         4494.04|Lefferts Pl & Fra...|       4222.02|40.68851534|   -73.9647628|40.680342423|-73.9557689392|       casual|
|C27D1AEDE23F455A|electric_bike|2021-11-05 14:48:58|2021-11-05 14:51:58|Lafayette Ave & S...|         4494.04|DeKalb Ave & S Po...|       4546.04|40.68851534|   -73.9647628| 40.68981035|  -73.97493121|       casual|
|9398030BA10C5D6A| classic_bike|2021-11-20 16:12:20|2021-11-20 16:26:12|Franklin Ave & St...|         4107.05|DeKalb Ave & S Po...|       4546.04| 40.6758324|   -73.9561677| 40.68981035|  -73.97493121|       casual|
|302C88D9D73AEE17| classic_bike|2021-11-17 16:19:46|2021-11-17 16:32:43|    W 53 St & 10 Ave|         6890.01|E 44 St & Lexingt...|       6464.09|40.76669671|  -73.99061728|   40.752643|    -73.974996|       member|
|81D0AF0AD42CF85F| classic_bike|2021-11-11 08:45:29|2021-11-11 08:52:29|  E 32 St & Park Ave|         6280.12|     E 15 St & 3 Ave|       5863.07| 40.7457121|  -73.98194829|   40.734232|    -73.986923|       member|
|1E9593CCA5BB54AC| classic_bike|2021-11-04 23:54:18|2021-11-05 00:32:25|  W 67 St & Broadway|         7116.04|     W 13 St & 7 Ave|       6030.04|40.77492513|  -73.98266566| 40.73781509|  -73.99994661|       member|
|FEA193C3B3F8B5D9| classic_bike|2021-11-01 11:29:43|2021-11-01 11:32:18|Franklin Ave & St...|         4107.05|Lefferts Pl & Fra...|       4222.02| 40.6758324|   -73.9561677|40.680342423|-73.9557689392|       member|
|DF133C000A1F8843|electric_bike|2021-11-20 18:50:45|2021-11-20 19:40:31|W 107 St & Columb...|         7619.05|Sullivan St & Was...|       5721.01| 40.7997568|-73.9621128676| 40.73047747|  -73.99906065|       member|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+-----------+--------------+------------+--------------+-------------+
only showing top 20 rows

In [7]:

new_bikedata_df = bikedata_df.drop('start_station_id', 'end_station_id')

In [8]:
new_bikedata_df.show()

+----------------+-------------+-------------------+-------------------+--------------------+--------------------+-----------+--------------+------------+--------------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|    end_station_name|  start_lat|     start_lng|     end_lat|       end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+--------------------+-----------+--------------+------------+--------------+-------------+
|F8C750DE34200458|electric_bike|2021-11-08 07:34:45|2021-11-08 07:52:14|Franklin Ave & St...|Carroll St & Smit...| 40.6758324|   -73.9561677|   40.680611|  -73.99475825|       member|
|150B96183EA723BE|electric_bike|2021-11-24 10:27:06|2021-11-24 10:34:40|Pleasant Ave & E ...|Willis Ave & E 13...| 40.7974772|   -73.9311847|   40.808384|    -73.923604|       member|
|55BA8CE0120B8994|electric_bike|2021-11-27 18:11:36|2021-11-27 19:19:16|West St & Liberty St|     W 45 St & 8 Ave|  40.711444|    -74.014847| 40.75929124|  -73.98859651|       member|
|BEEAF39A29375A4F|electric_bike|2021-11-22 14:52:20|2021-11-22 15:30:40|  W 67 St & Broadway|     E 84 St & 1 Ave|40.77492513|  -73.98266566| 40.77565541|  -73.95068615|       member|
|A322C249E2152BE8|electric_bike|2021-11-10 14:32:56|2021-11-10 14:36:19|    W 53 St & 10 Ave|     W 45 St & 8 Ave|40.76669671|  -73.99061728| 40.75929124|  -73.98859651|       member|
|47838257604530BE|electric_bike|2021-11-09 07:20:53|2021-11-09 07:26:13|Franklin Ave & St...|Plaza St East & F...| 40.6758324|   -73.9561677|   40.673134|    -73.969106|       casual|
|362E604AA6EECA77| classic_bike|2021-11-03 16:23:08|2021-11-03 16:30:39|Classon Ave & St ...|Plaza St East & F...| 40.6765198|   -73.9596082|   40.673134|    -73.969106|       casual|
|68CF5DD571217350| classic_bike|2021-11-03 14:00:14|2021-11-03 14:07:12|Columbia St & Deg...|Bergen St & Smith St| 40.6859296|  -74.00242364|  40.6867443|  -73.99063168|       casual|
|096AC000442AA859| classic_bike|2021-11-11 16:37:28|2021-11-11 16:50:51|  E 32 St & Park Ave|     W 45 St & 8 Ave| 40.7457121|  -73.98194829| 40.75929124|  -73.98859651|       member|
|7ABE54EAAB9C501E| classic_bike|2021-11-17 12:39:03|2021-11-17 12:42:08|President St & He...|Carroll St & Smit...| 40.6828003|  -73.99990419|   40.680611|  -73.99475825|       member|
|8BAEA48FD9411FAA| classic_bike|2021-11-08 12:02:16|2021-11-08 12:19:15|Boerum St & Broadway|N 6 St & Bedford Ave|40.70538077|  -73.94976519| 40.71745169|  -73.95850939|       member|
|08BC97A9E6B4B5CD|electric_bike|2021-11-10 11:41:34|2021-11-10 12:00:47|Boerum St & Broadway|DeKalb Ave & S Po...|40.70538077|  -73.94976519| 40.68981035|  -73.97493121|       casual|
|0C1BE26407172178| classic_bike|2021-11-05 13:40:48|2021-11-05 13:47:44|Lafayette Ave & S...|Lefferts Pl & Fra...|40.68851534|   -73.9647628|40.680342423|-73.9557689392|       casual|
|C27D1AEDE23F455A|electric_bike|2021-11-05 14:48:58|2021-11-05 14:51:58|Lafayette Ave & S...|DeKalb Ave & S Po...|40.68851534|   -73.9647628| 40.68981035|  -73.97493121|       casual|
|9398030BA10C5D6A| classic_bike|2021-11-20 16:12:20|2021-11-20 16:26:12|Franklin Ave & St...|DeKalb Ave & S Po...| 40.6758324|   -73.9561677| 40.68981035|  -73.97493121|       casual|
|302C88D9D73AEE17| classic_bike|2021-11-17 16:19:46|2021-11-17 16:32:43|    W 53 St & 10 Ave|E 44 St & Lexingt...|40.76669671|  -73.99061728|   40.752643|    -73.974996|       member|
|81D0AF0AD42CF85F| classic_bike|2021-11-11 08:45:29|2021-11-11 08:52:29|  E 32 St & Park Ave|     E 15 St & 3 Ave| 40.7457121|  -73.98194829|   40.734232|    -73.986923|       member|
|1E9593CCA5BB54AC| classic_bike|2021-11-04 23:54:18|2021-11-05 00:32:25|  W 67 St & Broadway|     W 13 St & 7 Ave|40.77492513|  -73.98266566| 40.73781509|  -73.99994661|       member|
|FEA193C3B3F8B5D9| classic_bike|2021-11-01 11:29:43|2021-11-01 11:32:18|Franklin Ave & St...|Lefferts Pl & Fra...| 40.6758324|   -73.9561677|40.680342423|-73.9557689392|       member|
|DF133C000A1F8843|electric_bike|2021-11-20 18:50:45|2021-11-20 19:40:31|W 107 St & Columb...|Sullivan St & Was...| 40.7997568|-73.9621128676| 40.73047747|  -73.99906065|       member|
+----------------+-------------+-------------------+-------------------+--------------------+--------------------+-----------+--------------+------------+--------------+-------------+
only showing top 20 rows

In [9]:
# from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from pathlib import Path
import matplotlib.pyplot as plt
import plotly.express as px
##import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
import datetime as dt

ID=0

In [16]:
pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.6.0-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: haversine
Successfully installed haversine-2.6.0

In [17]:
import haversine as hs
from haversine import Unit
#!pip install haversine

new_bikedata_df.insert(12, 'distance_traveled',"0" ,  allow_duplicates = False)
new_bikedata_df.head(10)

#new_bikedata_df.insert(11, 'distance_traveled', dtype =int, hs.haversine(loc1,loc2, unit=Unit.MILES), allow_duplicates = False)
#new_bikedata_df['distance_traveled'] = hs.haversine(loc1,loc2,unit=Unit.MILES)

AttributeError: ignored

In [14]:
new_bikedata_df.columns

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'end_station_name',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [18]:
##Add new columns for POSIX timestamps

new_bikedata_df.assign(10, 'ended_at_sec', new_bikedata_df['ended_at'], allow_duplicates = False)
new_bikedata_df.assign(10, 'started_at_sec', new_bikedata_df['started_at'], allow_duplicates = False)

AttributeError: ignored

In [ ]:
# COLUMNS
new_bikedata_df.columns

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'end_station_name',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [15]:
# LIST DATAFRAME DATA TYPES
new_bikedata_df.dtypes

[('ride_id', 'string'),
 ('rideable_type', 'string'),
 ('started_at', 'timestamp'),
 ('ended_at', 'timestamp'),
 ('start_station_name', 'string'),
 ('end_station_name', 'string'),
 ('start_lat', 'double'),
 ('start_lng', 'double'),
 ('end_lat', 'double'),
 ('end_lng', 'double'),
 ('member_casual', 'string')]

In [ ]:
# FIND NULL VALUES
for column in new_bikedata_df.columns: print(f"Column {Column} has {new_bikedata_df[column].isnull().sum()}null values")

NameError: ignored

In [ ]:
# DROP NULL ROWS
new_bikedata_df = new_bikedata_df.dropna()

In [ ]:
# FIND DUPLICATE ENTRIES
print(f"Duplicate entries: {new_bikedata_df.duplicated().sum()}")

AttributeError: ignored

In [ ]:
# TRANSFORM STRING COLUMN
def change_string(rideable_type):
    if rideable_type == "electric_bike":
        return 1
    else:
        return 0
    
new_bikedata_df["rideable_type"] = new_bikedata_df["rideable_type"].apply(change_string)
new_bikedata_df.head(20)

TypeError: ignored

In [ ]:

def change_string(ride_id):
    if ride_id != "0":
        global ID
        ID = ID +1
        return ID
    else:
        
        return ID
    
new_bikedata_df["ride_id"] = new_bikedata_df["ride_id"].apply(change_string)
new_bikedata_df.head(20)

TypeError: ignored

In [ ]:
new_bikedata_df['rideable_type']=new_bikedata_df.rideable_type.astype('int16')
new_bikedata_df['start_station_name']=new_bikedata_df.start_station_name.astype('string')
new_bikedata_df['end_station_name']=new_bikedata_df.end_station_name.astype('string')
new_bikedata_df['member_casual']=new_bikedata_df.member_casual.astype('string')
new_bikedata_df['ride_id']=new_bikedata_df.ride_id.astype('int16')
new_bikedata_df['started_at']= pd.to_datetime(new_bikedata_df['started_at'])
new_bikedata_df['ended_at']= pd.to_datetime(new_bikedata_df['ended_at'])
## LIST DATAFRAME DATA TYPES
new_bikedata_df.dtypes
new_bikedata_df.loc[new_bikedata_df['rideable_type'] == 1].head(10)

In [ ]:
new_bikedata_df.loc.to_csv('202111-citibike-trpdata-electric.csv', index=False)
new_bikedata_df.loc[new_bikedata_df['rideable_type'] == 1].head(10)